<!DOCTYPE html>
<html lang="en">

<%- include('links/headlinks') %>

    <body class="index-page">

        <!-- Header Section -->
        <%- include('navs/header') %>

        <!-- Main Content -->
        <main class="main">

            <!-- Hero Section -->
            <%- include('sections/cart_hero') %>


            <!-- Cart Section -->
            <%- include('sections/cart') %>

        </main>

        <%- include('navs/footer') %>

        <%- include('links/footlinks') %>
    </body>

</html>