<!DOCTYPE html>
<html lang="en">

<%- include('links/headlinks') %>

    <body class="index-page">

        <!-- Header Section -->
        <%- include('navs/header') %>

        <!-- Main Content -->
        <main class="main">

            <!-- Hero Section -->
            <div class="cart_page_hero" style="height:30vh!important">
                <div class="container text-center">
                    <h1>Shopping Cart</h1>
                </div>
            </div>


            <!-- Cart Section -->
            <%- include('sections/cart') %>

        </main>

        <%- include('navs/footer') %>

        <%- include('links/footlinks') %>
    </body>

</html>