<!DOCTYPE html>
<html lang="en">

<%- include('links/headlinks') %>

    <body class="index-page">

        <!-- Header Section -->
        <%- include('navs/header') %>

            <!-- Main Content -->
            <main class="main">
                <div class="about_page_hero" style="height:30vh!important">
                    <div class="container text-center">
                        <h1>Billing Information</h1>
                    </div>
                </div>


                <!-- Checkout Section -->
                <%- include('sections/checkout') %>

            </main>

            <%- include('navs/footer') %>

                <%- include('links/footlinks') %>
    </body>

</html>