<!DOCTYPE html>
<html lang="en">

<%- include('links/headlinks') %>

    <body class="index-page">

        <!-- Header Section -->
        <%- include('navs/header') %>

        <!-- Main Content -->
        <main class="main">

            <!-- Hero Section -->
            <%- include('sections/hero') %>

            <!-- Service Section -->
            <%- include('sections/service') %>

            <!-- About Section -->
            <%- include('sections/about') %>

            <!-- Service carousal Section -->
            <%- include('sections/product_carousal') %>

            <!-- Middle Section -->
            <%- include('sections/middle_section') %>

            <!-- How it works Section -->
            <%- include('sections/how_it_works') %>

            <!-- FAQ Section -->
            <%- include('sections/faq') %>

        </main>

        <%- include('navs/footer') %>

        <%- include('links/footlinks') %>
    </body>

</html>