<!DOCTYPE html>
<html lang="en">

<%- include('links/headlinks') %>

    <body class="index-page">

        <!-- Header Section -->
        <%- include('navs/header') %>

        <!-- Main Content -->
        <main class="main">

            <!-- Hero Section -->
            <%- include('sections/service_hero') %>

            <div class="mt-4">
                <!-- About Section -->
                <%- include('sections/about') %>
            </div>


        </main>

        <%- include('navs/footer') %>

        <%- include('links/footlinks') %>
    </body>

</html>